logging:
  file: ${user.home}/logs/wxtools-service.log

dubbo:
  name: wxtools-service
  registry: zookeeper://127.0.0.1:2181
  port: -1

#MongoProperties
spring.data.mongodb:
  host: localhost
  port: 27017
  database: wxtools
 # username:
 # password: